/node_modules
/.env
/public/bundle.js
coverage
package-lock.json
junit.xml
public/bundle.js.br
public/bundle.js.gz

# CSV files
*.csv

# Cassandra import
database/cassandra/import_etsy_additionalitems.err.20200217_102055

/newrelic.js
/newrelic_agent.log

# MongoDB files
jest-mongodb-config.js

# package.json with Mongo packages
oldpackage.json

